
body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.liveVideo{
    height: 100%;
    width: 100%;
    -webkit-transform: scaleX(-1);
}

.closeButton{
    position: absolute;
    height: 2em;
    width: 2em;
    top: calc(5% - 1.5em);
    left: 1em;
    z-index: 1000;
    border-radius: 2em;
    background: rgba(199, 43, 19,0);
    transition: background 500ms;
}

.theatreMode{
    position: absolute;
    height: 2em;
    width: 2em;
    top: calc(5% - 1.5em);
    left: 4em;
    z-index: 1000;
    background: rgba(19, 64, 199,0);
    transition: background 500ms;
}

.toggleVideoSource{
    position: absolute;
    border-top: 1em solid transparent;
	border-left: 2em solid transparent;
	border-bottom: 1em solid transparent;
    top: calc(5% - 1.5em);
    left: 7em;
    z-index: 1000;
    transition: border-left 500ms;
}

.toggleVideoSource:hover{
    border-left: 2em solid rgba(255, 207, 3, 0.7);
}

.closeButton:hover{
    background: rgba(255, 0, 0, 0.5);
}

.theatreMode:hover{
    background: rgba(19, 64, 199, 0.7);
}

.dragableZone{
    position: absolute;
    -webkit-app-region: drag;
    z-index: 1000;
    height: 100%;
    width: 50%;
    font-size: 5em;
    line-height: 9em;
    font-family: impact, ubuntu, helvetica;
    left:50%;
    text-align: center;
    background-color: rgba(0,0,0,0);
    color: rgba(0, 0, 0, 0);
    transition: background-color 500ms, color 500ms;
}

.dragableZone:hover{
    background-color: rgba(0, 0, 0,0.5);
    color: rgba(0, 0, 0,1);
}
